.WholeCard {
    color: black;
    background-color: #ffffe0;
  }
  
  .BlueButton {
    color: white;
    background: #6b68ff;
  }
  
  .WhiteButton {
    color: #4169e1;
    background: white;
  }
  
  .BlueBack {
    background: #6b68ff;
    border: none;
  }
  
  .Halfcircle {
    width: 100%;
    height: 100px;
    background: #6b68ff;
    border-radius: 50% 50% 0 0;
  }